body, h1, h2, h3, p, ul, li, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  font-family: 'Arial', sans-serif;
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

.featured {
  text-align: left;
  margin-top: 10px;
}

.schedule {
  padding: 2rem;
  width: 250px;
  background-color: #ffffff; /* White */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 4rem); /* Assuming the same padding top and bottom, adjust if necessary */
  overflow-y: auto; /* Enables vertical scrolling */
}

.sidebar {
  padding: 2rem;
  width: 250px;
  background-color: #ffffff; /* White */
  color: #3649F9; /* Dark blue shade */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ibm_logo {
  width: 200px;
}

.nav-list {
  margin-top: 100px;
  list-style-type: none;
  flex-grow: 1;
}

.nav-item, .logout-button {
  display: block;
  background-color: #3649F9;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.nav-item:hover, .logout-button:hover {
  background-color: #0056b3;
}

.main-content {
  flex-grow: 1; /* Allows the main content to grow and fill available space */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: auto; /* Allow vertical scrolling */
  background-color: #FAFAFA; /* Light grey shade */
  padding: 20px;
  width: calc(100% - 250px); /* Adjust width to account for sidebar */
}


.welcome-banner{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjusted for alignment */
  padding-right: 20px; /* Adjust as needed to align with the video's edge */
}
.search-bar input[type="text"] {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}
.search-bar {
  display: flex;
  justify-content: flex-end;
}

.main_image{
  width: 30rem;
}

.carousel-section, .my-classes .class-list .class-item, .carousel .control-dots {
  text-align: center; /* Centers content within these sections */
  bottom: -25px; /* Adjust for .control-dots */
}

/* Header styles */

.card {
  margin: 0 10px; /* Adjust spacing between cards */
  display: flex; /* Distribute space inside the card */
  flex-direction: column;
  justify-content: space-around;
  height: 13rem;
  width: 23rem;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}
.course-desc{
  height: 80px;
}
.card_title{
  height: 80px;
}
.card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card-content {
  padding: 10px;
}

.course-title {
  margin: 0;
  color: #333;
  font-size: 24px;
}

.course-category {
  font-size: 16px;
  color: #666;
}

.course-description {
  font-size: 14px;
  color: #444;
  margin-top: 10px;
  margin-bottom: 20px;
}
.carousel-slide {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-link, .add-to-calendar-btn {
  text-decoration: none;
  background-color: #3649F9;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.button-link {
  border: 1px solid transparent;
}

.button-link:hover, .add-to-calendar-btn:hover {
  background-color: #0056b3;
}
.adding-mode .rbc-timeslot-group {
  border-color: blue; /* Adjust based on your exact needs */
}
