*{margin: 0; padding: 0;}
 hr {
  height: 5px; border: 0px solid #D6D6D6; border-top-width: 1px;
 }

footer{
  padding: 15px;
}
.logo img {
  max-width: 100px; 
  margin-top: 8px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.navbar {
  align-items: flex-start;
}

.nav-links {
  margin-top: 10px;
}

.nav-links a {
  margin-left: 0;
  margin-right: 15px;
}

.hero-section {
font-family: "Inter", sans-serif;
display: flex;
justify-content: space-between;
align-items: center;
padding: 50px;
}
.title {
color: #3649F9;
font-size: 3rem;
margin-bottom: 30px;
}

.text-container {
max-width: 700px; 
font-size: 2rem;

}

.image-container {
flex-shrink: 0; 
margin-left: 20px; 
max-width: 100%; 
height: auto; 
}

.featured-courses-section {
  padding: 2rem;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 30rem;
}
 span{
  margin-top: 20px;
 }
.cards{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.card_title {
  font-size: 20px;
  margin-top: 10px;

  height: 200px;
}

.section-title {
  margin-bottom: 20px;
}

.home-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  height: 26rem;
  width: 20rem;
  box-sizing: border-box;
}

.home-card img {
  max-width: 100%;
  height: auto;
}



