.login-container {
  display: flex;
  height: 100vh; /* 100% of the viewport height */
}

.background-image {
  flex: 1; /* Takes up half of the container */
  background: url('../../public/assets/Login.png') no-repeat center center;
  background-size: cover; /* Cover the available space without being skewed */
  display: flex;
  justify-content: center;
  align-items: center; /* Center the content vertically and horizontally */
}

.content {
  text-align: center; /* Center the text inside the content div */
}

.logo {
  max-width: 100px; /* Adjust based on your logo size */
  margin-bottom: 20px; /* Space between logo and text */
}

.login-form {
  flex: 1; /* Takes up the other half of the container */
  background-color: white; /* White background for the login form */
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  /* Style your form as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, button {
  margin: 10px;
  padding: 10px;
}
